body {
  overflow: hidden;
  & .main_bg {
    background: #e80202;
    & .main_backg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50px;
      height: 100px;
      background: #e80202;
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
      & .curved {
        box-shadow: inset -2px -2px 3px 3px #14171a, inset 2px 2px 3px 4px #2a2f33;
      }
    }
  }
}



